/*keyframe for */
body {
  background-color: #fffbf6;
  font-family: "Work Sans", serif, Calibri, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 0.05em;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Work Sans", serif;
  font-style: normal;
}
h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Work Sans", serif;
  font-style: normal;
  margin-top: 0;
}
h3 {
  font-size: 26px;
  font-weight: 500;
  font-family: "Work Sans", serif;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Work Sans", serif;
  font-style: normal;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}
.home-title {
  margin: 90px 0 70px 0;
}
.bmirror-text-highlight {
  color: #B16EED;
}
.home-subtitle {
  font-size: 20px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  font-style: normal;
  line-height: 2.3;
  margin-top: 20px;
}
.emoji {
  font-size: 30px;
  line-height: 0;
}
.paragraph-box {
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.8
}
.section-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Work Sans", serif;
  font-style: normal;
  color:rgba(51, 51, 51, .4);
  padding-bottom:10px;
}
  
header {
  z-index: 2;
}

header .container {
  padding: 0;
}
.discription-box {
  padding-right: 20px;
}
.career-top {
  margin-top: 100px;
  display: flex;
  margin-bottom: 15px;
}
.career-top-title {
  flex-grow: 1;
  line-height: 1.5;
}
.resume {
  line-height: 1.5;
  color: #93b2bc;
}
.career-title {
  font-size: 16px;
  font-weight: 600;
}
.career-subtitle {
  font-size: 14px;
  line-height: 1;
  color: #93b2bc;
}
header #header-pc-screen {
  position: relative;
  top: -10px;
  left: -25px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
header #header-pc-screen .header-right-box {
  float: right;
}
header #header-pc-screen .header-right-box .header-text {
  padding: 25px 0 25px 50px;
  float: left;
}
header #header-pc-screen .header-right-box .header-text a {
  font-size: 14px;
}
header #header-pc-screen #myLogo {
  padding: 10px;
  float: left;
}
header #header-pc-screen #myLogo img {
  transform: rotate(-8deg);
  width: 200px;
}

header #header-sp-screen {
  display: none;
}

@media (max-width: 768px) {
  header #header-pc-screen {
    display: none;
  }

  header #header-sp-screen {
    display: block;
  }
  header #header-sp-screen #myLogo {
    padding: 10px 0;
    float: left;
  }
  header #header-sp-screen #myLogo img {
    transform: rotate(-8deg);
    width: 200px;
  }

  label .menu {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: transparent;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
    background: #fff;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    z-index: 200;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}




.title-animation  {
  -webkit-animation: fedin-others 2s;
  -moz-animation: fedin-others 2s;
  -ms-animation: fedin-others 2s;
  animation: fedin-others 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  top: -10px;
  position: relative;
}
@media (max-width: 768px) {
   h1 {
    font-size: 30px;
    line-height: 1.4;
  }
}
@-webkit-keyframes fedin-others {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-moz-keyframes fedin-others {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-ms-keyframes fedin-others {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes fedin-others {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
#more-info-box {
  margin: auto;
  position: relative;
  height: 25px;
  width: 70px;
}

#more-info-text {
  position: absolute;
  top: 0;
  left: 4px;
  animation-name: updown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-play-state: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes updown {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}
.row {
  float: left;
}
.row .width-50 {
  width: 50%;
}
.row .width-100 {
  width: 100%;
}

.portfolio {
  margin: 20px 0;
}

.portfolio-sorting {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  -webkit-animation: fedin-others 2s;
  -moz-animation: fedin-others 2s;
  -ms-animation: fedin-others 2s;
  animation: fedin-others 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
  top: -10px;
  position: relative;
}
.portfolio-sorting li a {
  color: #333;
  text-decoration: none;
  padding: 6px;
}
.portfolio-sorting li a :hover {
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li a.active {
  color: #B16EED;
  border-bottom: 2px solid #B16EED;
}

.portfolio-item {
  margin-bottom: 30px;
  -webkit-animation: fedin-others 2s;
  -moz-animation: fedin-others 2s;
  -ms-animation: fedin-others 2s;
  animation: fedin-others 2s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
  top: -10px;
  position: relative;
}

.portfolio .row {
  float: none;
}

.img-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.background-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.pt-box:hover .background-hover {
  opacity: 0.8;
}
.pt-box:hover .pt-title {
  opacity: 1;
}

.pt-title {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s ease;
  opacity:0
}

.section-box {
  width: 100%;
  padding: 30px 0 30px 0;

}
.background-gray {
  width: 100%;
  background-color: #f3f2f1;
  padding: 60px 0 60px 0;

}

.product-table a {
  color: #B16EED;
}
.product-description-title {
  font-size: 12px;
}

.tab-content a {
  color: #B16EED;
}
.prodect-description {
  padding-bottom: 15px;
}
.prodect-description-title {
  font-size: 12px;
  font-weight: 400;
  color: #7C7C7C;
}
.prodect-description-content {
  font-size: 15px;
  font-weight: 400;
}
 a {
  color: #B16EED;
}
a:hover{
  color: #B16EED;
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  padding: 15px 8px 15px 8px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 15px 8px 15px 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.product-description {
  line-height: 1.6;
  font-size: 16px;
  
}
.description-img-box {
  display: grid;
  place-items: center;
  
}
.img-small img {
  height: 100%;
  max-width: 600px; 
  
}
.img-big img {
  height: 100%;
  width: 100%;
 
}
.img-description {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  text-align: center;
  padding-top:12px;
  color: #7C7C7C;
}
.video-description {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  text-align: center;
  color: #7C7C7C;
  margin-top:-10px
}
.nav-tabs {
  border-bottom: none;
  margin-left: 10px;
}
.nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
  color: #008cba;
}
.nav-tabs a {
  font-size: 14px;
}

.text-box {
  width: 500px;
  height: 400px;
  background-color: gray;
}

.box-padding {
  margin-bottom: 40px;
}

.prodacts-box {
  position: relative;
  margin: 0 auto;
}
.prodacts-box img {
  width: 100%;
  border-radius: 15px;
}
.prodacts-box video {
  width: 100%;
  border-radius: 15px;
}

.full-width {
  width: 100%;
}

.mid-width {
  width: 80%;
}

.goBack-box {
  width: 32px;
  height: 32px;
  background-color: #333;
  margin: 40px auto;
  cursor: pointer;
  position: relative;
}
.goBack-box:hover {
  opacity: 0.8;
}
.goBack-box .border-h {
  position: absolute;
  width: 2px;
  height: 32px;
  top: 0;
  left: 15px;
  background-color: #fff;
}
.goBack-box .border-v {
  position: absolute;
  width: 32px;
  height: 2px;
  top: 15px;
  left: 0px;
  background-color: #fff;
}

.statement-title {
  font-weight: 600;
  font-size: 16px;
}

.footer-text {
  font-size: 12px;
  margin: 30px 0;
  text-align: center;
  color: #333;
}

@media (max-width: 768px) {
  .mid-width {
    width: 100%;
  }

  .section-box {
    width: auto;
  }
}
.myName {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 1.5;
}

.about-title {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  color: #93b2bc;
}
.about-table tr {
  line-height: 2.5 !important;
}

.about-table > tbody > tr th {
  line-height: 2.5;
}
.about-table > tbody > tr td {
  line-height: 2.5;
}

#myTabContent {
  width: 100%;
}

.contact-me {
  margin-top: 100px;
  text-align: center;
}

.contact-discription {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
.contact-discription a {
  color: #008cba;
}

.fade {
  opacity: 1;
}
.solution-list ul {
	padding-left:15px;
  padding-top:5px
}
.solution-list li {
	padding-bottom:5px;
  
}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0; width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 0 10px #0003;
  position: relative;
}
.modal-content button {
 background-color: #B16EED;
 padding:12px 20px;
 border: none;
 border-radius: 100px;
 color:white
}
.close {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}
.close:hover {
  color: #000;
}
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  box-sizing: border-box;
  font-size: 16px;
}
.error-message {
  color: red;
  font-size: 14px;
  display: none;
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */
